<app-header></app-header>

<div class="flexCenter">
    <img src="../../../assets//undraw_profile_data_mk6k.svg" class="contactImage" alt="">
</div>

<div class="contactContainer">

    <h3>Contact</h3>

    <div class="flexCenter">
        <input type="text" name="" id="" placeholder="Name">
        <input type="text" name="" id="" placeholder="Email">
    </div>
    <div class="flexCenter">
        <input type="text" name="" id="" placeholder="Subject">
        <textarea name="" placeholder="Message"></textarea>
    </div>

</div>