header{
    position: sticky;
    top: 0;
    left: 0;
}


nav{
    background-color: #0B4B79;
    height: 60px;
    padding: 0 1rem;
}

nav ul,nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.burgerMenu{
    cursor: pointer;
}

.burgerMenu .bar{
    width: 4rem;
    height: 0.5rem;
    background-color: white;
    margin: 0.5rem;
    border-radius: 2px;
}
.burgerMenu .bar2{
    width: 3.5rem;
}
.burgerMenu .bar3{
    width: 4rem;
}

.themeToggler{
    width: 4.5rem;
    height: 2.4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    padding: 0 3px;
    position: relative;
    cursor: pointer;
    background-color: #111111;
}

.themeToggler img{
    width: 2rem;
    height: 2rem;
}

.themeToggler .ball{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    margin: 1px 2px;
    transition: 0.5s;
}

.themeToggler .ballRight{
    left: 50%;
}


nav img.logo{
    width: 8rem;
}



/*  */
/* Sidenav */
/*  */

.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #3D6F93;
    z-index: 999;
    border-radius: 0% 50% 350% 0%;
    overflow: hidden;
    transition: 0.5s;
        
}

.asideSmall{
    width: 0;
}
.asideMedium{
    width: 8rem;
}
.asideLarge{
    width: 100%;
    border-radius: 0;
}

.sideDiv{
    display: grid;
    padding: 2rem;
    margin: 0 auto;
}

aside .icon{
    margin-top: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
 .icon img{
     width: 3rem;
     margin: 1rem;
 }

 .icon .text{
     font-size: 2rem;
     color: white;
     font-family: Roboto;
     margin-left: 1.8rem;
 }

 aside .close{
     color: white;
     font-size: 3rem;
     position: absolute;
     top: 1rem;
     right: 1rem;
     font-family: Roboto;
     cursor: pointer;
     display: none;
 }

 .hideBurgerMenu{
     display: none;
 }


 aside .showClose{
     display: block;
 }





 /* Media Qurries */