<div class="intro">
    <span class="greeting"></span>
    My name is Sukhdeep Singh.
    <p class="para">
        I am
        <span class="fullStack">Full Stack Developer</span>
    </p>
</div>

<!-- cards -->

<div class="cardContainer">
    <div class="card">
        <img src="../../../assets/undraw_static_website_0107.svg" alt="">
        <h3 class="heading">Front-End Technology</h3>
        <p class="technology">Technology</p>
        <p class="techStack">HTML, CSS, JavaScript, Angular</p>
    </div>
    <div class="card">
        <img src="../../../assets/undraw_programming_2svr.svg" alt="">
        <h3 class="heading">Back-End Technology</h3>
        <p class="technology">Technology</p>
        <p class="techStack">Node, Express, Mysql, MongoDB</p>
    </div>
    <div class="card">
        <img src="../../../assets/undraw_feeling_proud_qne1.svg" alt="">
        <h3 class="heading">Tools</h3>
        <p class="technology">Technology</p>
        <p class="techStack">GitHub, Figma, VsCode</p>
    </div>
</div>